body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 600px;
  background-color: lightblue;
}

.name-app{
  color: white;
  font-family: monospace;
  font-size: 4rem;
}

.addStatus {
  margin-top: auto;
  margin-right: 5px;
  font-size: 1.2rem;
}
.add-todo {
  display: flex;
  margin: 15px;
  height: 35px;
}

.todo-input {
  flex: 1 1 0;
  padding: 10px 5px;
  font-size: 1.3rem;
  color: darkslategrey;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
}

.todo-input:focus {
  border: 1px solid blue;
}

.add-button {
  flex: 0 0 110px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.3rem;
  cursor: pointer;
}

.add-button:hover, .active {
  background-color: gray;
  color: white;
  transition: .5s;
}

.top-todo {
  display: flex;
  overflow: auto;
  flex-direction: column;
  text-align: center;
}
.todos-list {
  margin: 0;
  padding: 0px 15px;
  list-style: none;
  max-height: 440px;
  overflow: auto;
}

.todo-added {
  display: flex;
  align-items: center;
  background-color: #3c414152;
  margin-bottom: 5px;
  font-size: 22px;
  padding: 10px;
  color: white;
  border: 2px solid #08120e1f;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.todo-added:hover {
  box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.3);
}

.todo-added:hover .icons {
  visibility: visible;
}

.todo-added input {
  margin-bottom: 0;
  margin-right: 10px;
}
.icons {
  visibility: hidden;
  display: flex;
  margin-left: auto;
}

.edit {
  width: 19px;
  margin-right: 10px;
  cursor: pointer;
}

.delete {
  width: 17px;
  cursor: pointer;
}

.saveBtn {
  background-color: transparent;
  border: 0;
}

.formEdit {
  display: flex;
  align-items: center;
}

.formEdit-title {
  padding: 7px;
  border: 2px solid #24245aa1;
  font-size: 1rem;
  border-radius: 5px;
  color: #1310dc;
}

.show-diff-todos {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.mr-5 {
  margin-right: 5px;
}

/*scroll bar start*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  flex: 0 0 10px;
  background: #0f1f1f7d; 
  border-radius: 5px;
  height: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #050e0ea6; 
}
/*scroll bar end*/

.todo-added input:checked + span{
  text-decoration:line-through;
}
.strikeout {
  position: relative;
}
.strikeout::after {
  border-bottom: 0.125em solid rgba(5, 10, 214, 1);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}
.todo-input:invalid {
  border: 2px solid red;
}

@media screen and (max-width: 460px) {
  .add-button {
    flex: 0 0 70px;
  }
}

@media screen and (max-width: 370px) {
  .todo-input {
    font-size: 1rem;
  }
  .todo-added {
    font-size: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 300px) {
  
}